body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#main-create-user {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-check-label {
    font-size: 14px;
    color: #555;
}

.btn-primary {
    background-color: #b51010;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.btn-primary:hover {
    background-color: #ee3737;
}

.btn-secondary {
    background-color: #555;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #777;
}

.button {
    margin-bottom: 20px;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    .btn-primary, .btn-secondary {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    .btn-primary, .btn-secondary {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .form-check-label {
        font-size: 12px;
    }
}